[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cirkuit/Backend
Comment=A Backend for Cirkuit
Comment[de]=Ein Modul für Cirkuit
Comment[es]=Un motor para Cirkuit
Comment[et]=Cirkuiti taustaprogramm
Comment[fr]=Un moteur pour Cirkuit
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ Cirkuit
Comment[nl]=Een backend voor Cirkuit
Comment[pl]=Silnik dla Cirkuit
Comment[pt]=Uma infra-estrutura para o Cirkuit
Comment[pt_BR]=Uma infraestrutura para o Cirkuit
Comment[sv]=Ett gränssnitt för Cirkuit
Comment[uk]=Модуль для Cirkuit
Comment[x-test]=xxA Backend for Cirkuitxx
