[Desktop Entry]
Type=Service
Icon=gnuplotbackend
Name=Gnuplot
Name[de]=Gnuplot
Name[es]=Gnuplot
Name[et]=Gnuplot
Name[fr]=Gnuplot
Name[km]=Gnuplot
Name[nds]=Gnuplot
Name[nl]=Gnuplot
Name[pl]=Gnuplot
Name[pt]=Gnuplot
Name[pt_BR]=Gnuplot
Name[sv]=Gnuplot
Name[uk]=Gnuplot
Name[x-test]=xxGnuplotxx
X-KDE-ServiceTypes=Cirkuit/Backend
X-KDE-Library=cirkuit_gnuplotbackend
X-KDE-PluginInfo-Name=gnuplotbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://www.gnuplot.org
Comment=Backend for Gnuplot
Comment[de]=Modul für Gnuplot
Comment[es]=Motor para Gnuplot
Comment[et]=Gnuploti taustaprogramm
Comment[fr]=Moteur pour Gnuplot
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ Gnuplot
Comment[nl]=Backend voor Gnuplot
Comment[pl]=Silnik dla Gnuplot
Comment[pt]=Infra-Estrutura do Gnuplot
Comment[pt_BR]=Infraestrutura para o Gnuplot
Comment[sv]=Gränssnitt för Gnuplot
Comment[uk]=Модуль для Gnuplot
Comment[x-test]=xxBackend for Gnuplotxx

