[Desktop Entry]
Type=Service
Icon=tikzbackend
Name=TikZ
Name[de]=TikZ
Name[es]=TikZ
Name[et]=TikZ
Name[fr]=TikZ
Name[hu]=TikZ
Name[it]=TikZ
Name[km]=TikZ
Name[nds]=TikZ
Name[nl]=TikZ
Name[pl]=TikZ
Name[pt]=TikZ
Name[pt_BR]=TikZ
Name[sk]=TikZ
Name[sv]=TikZ
Name[uk]=TikZ
Name[x-test]=xxTikZxx
X-KDE-ServiceTypes=Cirkuit/Backend
X-KDE-Library=cirkuit_tikzbackend
X-KDE-PluginInfo-Name=tikzbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://www.texample.net/tikz
Comment=Backend for TikZ
Comment[de]=Modul für TikZ
Comment[es]=Motor para TikZ
Comment[et]=TikZi taustaprogramm
Comment[fr]=Moteur pour TikZ
Comment[hu]=A TikZ háttérprogramja
Comment[it]=Backend per TikZ
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ TikZ
Comment[nl]=Backend voor TikZ
Comment[pl]=Silnik dla TikZ
Comment[pt]=Infra-Estrutura do TikZ
Comment[pt_BR]=Infraestrutura para o TikZ
Comment[sv]=Gränssnitt för TikZ
Comment[uk]=Модуль для TikZ
Comment[x-test]=xxBackend for TikZxx

