[Desktop Entry]
Type=Service
Icon=nullbackend
Name=Nullbackend
Name[de]=Null-Modul
Name[es]=Nullbackend
Name[et]=Nullbackend
Name[fr]=Nullbackend
Name[it]=Nullbackend
Name[km]=Nullbackend
Name[nds]=Leddig Hülpprogramm
Name[nl]=Nullbackend
Name[pl]=Zerowy silnik
Name[pt]=Infra-Estrutura Nula
Name[pt_BR]=Nullbackend
Name[sk]=Nullbackend
Name[sv]=Testgränssnitt
Name[uk]=Тестовий модуль
Name[x-test]=xxNullbackendxx
X-KDE-ServiceTypes=Cirkuit/Backend
X-KDE-Library=cirkuit_nullbackend
X-KDE-PluginInfo-Name=nullbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Cirkuit for testing purposes
Comment[de]=Modul für Cirkuit zum Testen
Comment[es]=Motor para Cirkuit con propósito de pruebas
Comment[et]=Cirkuiti taustaprogramm testimiseks
Comment[fr]=Moteur pour Cirkuit à des fins de tests
Comment[it]=Backend di Cirkuit per scopi di prova
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់​ Cirkuit for សម្រាប់​គោលបំណង​សាកល្បង
Comment[nl]=Backend voor Cirkuit voor testdoeleinden
Comment[pl]=Silnik dla Cirkuit do celów testowych
Comment[pt]=Infra-estrutura do Cirkuit para fins de testes
Comment[pt_BR]=Infraestrutura do Cirkuit para testes
Comment[sk]=Backend pre Cirkuit na testovacie účely
Comment[sv]=Gränssnitt för Cirkuit i testsyfte
Comment[uk]=Тестовий модуль для Cirkuit
Comment[x-test]=xxBackend for Cirkuit for testing purposesxx

