[Desktop Entry]
Type=Service
Icon=cirkuit
Name=Circuit Macros
Name[de]=Circuit-Makros
Name[es]=Circuit Macros
Name[et]=Vooluringimakrod
Name[fr]=Circuit Macros
Name[it]=Macro di circuito
Name[km]=Circuit Macros
Name[mr]=सर्कीट मेक्रोज
Name[nl]=Circuit Macros
Name[pl]=Circuit Macros
Name[pt]=Circuit Macros
Name[pt_BR]=Circuit Macros
Name[sk]=Makrá Cirkuit
Name[sv]=Circuit Macros
Name[uk]=Макрос Circuit
Name[x-test]=xxCircuit Macrosxx
X-KDE-ServiceTypes=Cirkuit/Backend
X-KDE-Library=cirkuit_circuitmacrosbackend
X-KDE-PluginInfo-Name=circuitmacrosbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://www.ece.uwaterloo.ca/~aplevich/Circuit_macros
Comment=Backend for Circuit Macros
Comment[de]=Modul für Circuit-Makros
Comment[es]=Motor para Circuit Macros
Comment[et]=Vooluringimakrode taustaprogramm
Comment[fr]=Moteur pour Circuit Macros
Comment[it]=Backend per Macro di Circuito
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ Circuit Macros
Comment[mr]=सर्कीट मेक्रोज करिता बॅकएन्ड
Comment[nl]=Backend voor Circuit Macros
Comment[pl]=Silnik dla Circuit Macros
Comment[pt]=Infra-Estrutura do Circuit Macros
Comment[pt_BR]=Infraestrutura para o Circuit Macros
Comment[sk]=Backend pre makrá Cirkuit
Comment[sv]=Gränssnitt för Circuit Macros
Comment[uk]=Модуль обробки для макроса Circuit
Comment[x-test]=xxBackend for Circuit Macrosxx

