Source: cirkuit
Section: unknown
Priority: extra
Maintainer: Matteo Agostinelli <agostinelli@gmail.com>
Build-Depends: debhelper (>= 7), cmake
Standards-Version: 3.8.0
Homepage: http://wwwu.uni-klu.ac.at/magostin/cirkuit.html

Package: cirkuit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, texlive-latex-base, texlive-base-bin, texlive-extra-utils, m4, ghostscript, ps2eps, netpbm, texlive-pstricks
Description: A KDE4 interface to Circuit Macros.
 Cirkuit is a KDE GUI to draw publication-ready circuits and diagrams.
