<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="editor" version="1"> <!-- increase version number if you don't see changes after experimenting with this file -->
 
<MenuBar>
    <Menu name="file" noMerge="1"><text>&amp;File</text>
        <Action name="file_new" />
        <Action name="file_open" />
        <Action name="file_open_recent" />   
        <Separator/>
        <Action name="file_open_example" />
        <Action name="download_examples" />
        <Action name="upload_example" />
        <Separator/>
        <DefineGroup name="save_merge"/>
        <Action name="file_close" />
        <Action name="file_save" />
        <Action name="file_save_as" />
        <Action name="export" />
        <Separator/>
        <DefineGroup name="revert_merge" append="revert_merge"/>
        <DefineGroup name="print_merge" append="print_merge"/>
        <Separator/>
        <Action name="file_quit"/>
    </Menu>
    
    <Menu name="build"><text>&amp;Preview</text>
        <Action name="build_preview"/>
        <Action name="open_preview"/>
    </Menu>
    
    <Menu name="view" noMerge="1"><text>&amp;View</text>
        <Action name="show_live_preview" />
        <Action name="show_log_view" />
        <Separator/>
        <Action name="view_zoom_to_fit" />
        <Action name="view_zoom_in" />
        <Action name="view_zoom_out" />
        <Action name="view_actual_size" />
        <Action name="view_fit_to_page" />
        <Separator/>
    </Menu>
  
    <Menu name="help" >
        <text>&amp;Help</text>
        <Action name="showManual" />
        <Action name="showExamples" />
    </Menu>
 
    <Merge />
</MenuBar>
 
<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
    <Action name="file_new" />
    <Action name="file_open" />
    <DefineGroup name="file_operations" />
    <Action name="file_save" />
    <Action name="file_save_as" />
    <Separator />
    <DefineGroup name="print_merge" />
    <Action name="show_live_preview" />
    <Action name="show_log_view" />
    <Separator />
    <DefineGroup name="edit_operations" />
    <DefineGroup name="find_operations" />
    <Separator />
    <DefineGroup name="zoom_operations" />
    <Action name="view_zoom_to_fit" />
    <Action name="view_zoom_out" />
    <Action name="view_zoom_in" />
</ToolBar>

<Menu name="ktexteditor_popup" noMerge="1">
    <DefineGroup name="popup_operations" />
</Menu>
</kpartgui>