# KDE Config File
[Desktop Entry]
Name=Cirkuit
Name[bs]=Cirkuit
Name[cs]=Cirkuit
Name[de]=Cirkuit
Name[es]=Cirkuit
Name[et]=Cirkuit
Name[fr]=Cirkuit
Name[ga]=Cirkuit
Name[hu]=Áramkör
Name[it]=Cirkuit
Name[km]=Cirkuit
Name[ko]=Cirkuit
Name[mr]=सर्कीट
Name[nds]=Cirkuit
Name[nl]=Cirkuit
Name[pl]=Cirkuit
Name[pt]=Cirkuit
Name[pt_BR]=Cirkuit
Name[sk]=Cirkuit
Name[sv]=Cirkuit
Name[uk]=Cirkuit
Name[x-test]=xxCirkuitxx
GenericName=Circuit drawer
GenericName[bs]=Crtač kola
GenericName[de]=Circuit-Zeichenprogramm
GenericName[es]=Dibujar circuitos
GenericName[et]=Vooluringide joonistaja
GenericName[fr]=Outil de tracé de circuits
GenericName[hu]=Áramkör rajzoló
GenericName[it]=Disegnatore di circuiti
GenericName[km]=កម្មវិធី​គូរ​រូប Circuit
GenericName[ko]=회로 그리기
GenericName[mr]=सर्कीट ड्रोअर
GenericName[nl]=Schema tekenprogramma
GenericName[pl]=Rysownik obwodów
GenericName[pt]=Desenhador de circuitos
GenericName[pt_BR]=Desenho de circuitos
GenericName[sk]=Kreslič obvodov
GenericName[sv]=Kretsritare
GenericName[uk]=Малювання ланцюгів
GenericName[x-test]=xxCircuit drawerxx
Comment=A program to draw circuits and diagrams
Comment[bs]=Program za crtanje kola i dijagrama
Comment[de]=Programm für Schaltkreise und Diagramme
Comment[es]=Un programa para dibujar circuitos y diagramas
Comment[et]=Programm vooluringide ja skeemide joonistamiseks
Comment[fr]=Un programme pour tracer des circuits et des diagrammes
Comment[hu]=Egy program áramkörök és diagramok rajzolásához
Comment[it]=Un programma per disegnare circuiti e diagrammi
Comment[km]=កម្មវិធី​គូរ​រូប​សៀគ្វី និង​ដ្យាក្រាម
Comment[ko]=회로와 다이어그램을 그리는 프로그램
Comment[mr]=सर्कीट व आकृत्या काढणारा एक कार्यक्रम
Comment[nl]=Een programma om schema's en diagrammen te tekenen
Comment[pl]=Program do rysowania obwodów i diagramów
Comment[pt]=Um programa para desenhar circuitos e diagramas
Comment[pt_BR]=Um programa para desenhar circuitos e diagramas
Comment[sk]=Program na kreslenie obvodov a diagramov
Comment[sv]=Ett program för att rita kretsar och diagram
Comment[uk]=Програма для малювання ланцюгів та діаграм
Comment[x-test]=xxA program to draw circuits and diagramsxx
Type=Application
Exec=cirkuit
Icon=cirkuit
Terminal=false
MimeType=application/x-cirkuit;
Categories=Qt;KDE;Graphics;VectorGraphics;Science;
X-DocPath=cirkuit/index.html
