[Desktop Entry]
Type=Service
Icon=pstricks
Name=PSTricks
Name[de]=PSTricks
Name[es]=PSTricks
Name[et]=PSTricks
Name[fr]=PSTricks
Name[hu]=PSTricks
Name[it]=PSTricks
Name[km]=PSTricks
Name[nds]=PSTricks
Name[nl]=PSTricks
Name[pl]=PSTricks
Name[pt]=PSTricks
Name[pt_BR]=PSTricks
Name[sk]=PSTricks
Name[sv]=PSTricks
Name[uk]=PSTricks
Name[x-test]=xxPSTricksxx
X-KDE-ServiceTypes=Cirkuit/Backend
X-KDE-Library=cirkuit_pstricksbackend
X-KDE-PluginInfo-Name=pstricksbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://tug.org/PSTricks/main.cgi
Comment=Backend for PSTricks
Comment[de]=Modul für PSTricks
Comment[es]=Motor para PSTricks
Comment[et]=PSTricksi taustaprogramm
Comment[fr]=Moteur pour PSTricks
Comment[hu]=A PSTricks háttérprogramja
Comment[it]=Backend per PSTricks
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ PSTricks
Comment[nl]=Backend voor PSTricks
Comment[pl]=Silnik dla PSTricks
Comment[pt]=Infra-Estrutura do PSTricks
Comment[pt_BR]=Infraestrutura para o PSTricks
Comment[sv]=Gränssnitt för PSTricks
Comment[uk]=Модуль для PSTricks
Comment[x-test]=xxBackend for PSTricksxx

